@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 1643px;
  margin: 0 auto;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}

/* shared styles */
.display-flex {
  display: flex;
}

.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

.dark01 {
  color: rgb(19, 19, 19);
}

.dark02 {
  color: rgb(66, 66, 66);
}

.dark03 {
  color: rgb(114, 114, 114);
}


.btn-primary {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  Font: Work Sans;
  Font-weight: 400;
  Font-size: 1.6rem;
  border: none;
  color: rgb(255, 255, 255);
  padding: 20px 24px;
}


.sectionTitle {
  font-size: 2.8rem;
  font-weight: 500;
}


/* header styles */


/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

nav ul {
  gap: 40px;

}

ul>li {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  font-weight: 600;

}

.navbar, .banner {
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-weight: 600;
  font-size: 3rem;
}

/* banner style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.bannerImg {
  width: 100%;
}

/* team and features style */
.teams {
  align-items: center;
}

.teamImgContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.ourFeatures {
  margin-left: 130px;
  max-width: 530px;
}

#features {
  color: rgb(255, 144, 14);
}

.font {
  font-weight: 700;
}

/* some facts related styles */
.fact-card {
  border: 1px solid #ff900E;
  width: 180px;
  height: 180px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.factNumber {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.factName {
  font-size: 1.25rem;
  margin-top: 10px;
  font-weight: 600;
}


/* sponsor section style */

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.our-sponsors {
  margin: 0 auto;
}

.sponsorsCompanies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 200px;
}

.sponsorsCompanies img {
  filter: grayscale(100%);
}



/* features style  */
.features {
  gap: 140px;
}

.featuresTitle {
  border-left: #ff900E solid 6px;
  padding-left: 20px;
}

.featuresCard {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin-bottom: 20px;

}

#experienceBtn {
  padding: 45px 42px;
  margin-left: -100px;
  margin-top: -100px;
}

#years10 {
  font-size: 4rem;
  font-weight: 700;
}

#experience {
  font-size: 1.5rem;
  font-weight: 500;
}


/* footer style */

footer {
  background-color: antiquewhite;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 10px 0;
  margin: 0 auto;
  max-width: 1440px;
  border-radius: 5px;
}






/* responsive media query */

@media screen and (max-width:576px) {
  .nav-links, .navbar {
    flex-direction: column;
  }

  .teams {
    flex-direction: column;
  }

  .teamImgContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .ourFeatures {
    margin: 0 auto;
    text-align: center;
  }

  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionTitle, .sectionPara {
    text-align: center;
  }

  .sponsorsCompanies {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: auto;
  }

  .featuresYou {
    margin-left: .5rem;
  }



  .features {
    flex-direction: column;
  }

  .featuresImg img {
    width: 100%;
  }

  #experienceBtn {
    padding: 5px 2px;
    margin: 0 auto;
    font-size: 20px;
  }



}



/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams {
    flex-direction: column;
  }

  .ourFeatures {
    margin: 0 auto;
    text-align: center;

  }

  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .sectionTitle, .sectionPara {
    text-align: center;
  }

  .features {
    flex-direction: column;
  }

  .featuresImg img {
    width: 100%;
  }

}